[submodule "hazel/vendor/spdlog"]
	path = hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "hazel/vendor/GLFW"]
	path = hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
